<section class = "itemList">
    <h1>List of Entries</h1>
    <div class = "entryContainer">
        <div *ngFor="let entry of budgetEntries">
            <app-item-entry
            *ngIf="entry.amount >= 0" 
            [entry] = "entry"
            [isIncome] = "true"
            (deleteEntry)="delete(entry)">
            </app-item-entry>

            <app-item-entry
            *ngIf="entry.amount < 0" 
            [entry] = "entry"
            [isIncome] = "false"
            (deleteEntry)="delete(entry)">
            </app-item-entry>
        </div>
    </div>
</section>