/* You can add global styles to this file, and also import other style files */

html{
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 0;
}